
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<table class="table">
    <tr>
        <th>@Html.ActionLink("1. List of Purchase order against customer", "Query1")</th>
    </tr>
    <tr>
        <th>@Html.ActionLink("2. MonthWise Customer Report With Products", "Query2")</th>
    </tr>
    <tr>
        <th> @Html.ActionLink("3. Product Sales Report MonthWise", "Query3")</th>
    </tr>
    <tr>
        <th> @Html.ActionLink("4. Maximum Order Price MonthWise", "Query4")</th>
    </tr>
</table>